li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  body { 
    background-image: url(https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #000000;  
  }
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  img {
    align-content: center;
  }
  
  .form-group {
    margin-bottom: 5px;
  }